## Hide Code

In [1]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this iPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

## Hello World

In [2]:
print("Hello World")

Hello World

## Drawing a Shape

In [3]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

## Variables & Data Types

In [4]:
print("There once was a man named George,")
print("he was 70 years old.")
print("He really liked the name George,")
print("but didn't like being 70.")

There once was a man named George,
he was 70 years old.
He really liked the name George,
but didn't like being 70.

In [5]:
character_name = "Tom"
character_age = "50"

print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old. ")
print("He really liked the name " + character_name + ", ")
print("but didn't like being " + character_age +".")

There once was a man named Tom,
he was 50 years old.
He really liked the name Tom,
but didn't like being 50.

In [6]:
character_name = "Tom"
character_age = "50"
isMale = False

print("There once was a man named" + character_name + ", ")
print("he was " + character_age + " years old. ")

character_name = "Mike"
print("He really liked the name " + character_name + ", ")
print("but didn't like being " + character_age +".")

There once was a man namedTom,
he was 50 years old.
He really liked the name Mike,
but didn't like being 50.

## Working with Strings

In [7]:
print("Giraffe\nAcademy")

Giraffe
Academy

In [8]:
phrase = "Giraffe \nAcademy"
print(phrase)

Giraffe
Academy

In [9]:
# Concatenation

print(phrase + " is cool")

Giraffe
Academy is cool

In [10]:
# Lower Case

print(phrase.lower() + " is cool")

giraffe
academy is cool

In [11]:
# Upper Case

print(phrase.upper() + " is cool")

GIRAFFE
ACADEMY is cool

In [19]:
# Validate if strings is in upper case

print(phrase.upper().isupper())

True

In [20]:
# Count the length of the string

phrase = "Giraffe Academy"
print(len(phrase))

15

In [21]:
# Extracts an index from a string

phrase = "Giraffe Academy"
print(phrase[0])

G

In [22]:
# Returns an index where the string is located

phrase = "Giraffe Academy"
print(phrase.index("a"))

3

In [25]:
# Returns an index where the string started

phrase = "Giraffe Academy"
print(phrase.index("Acad"))

8

In [26]:
# Replace a string

phrase = "Giraffe Academy"
print(phrase.replace("Giraffe", "Elephant"))

Elephant Academy

## Working with Numbers

In [27]:
print(2.0987)

2.0987

In [28]:
print(-2.0987)

-2.0987

In [31]:
# Addition
print(3 + 4.5)

# Subtraction
print(5 - 4.5)

# Multiplication
print(5 * 4.5)

# Division
print(5 / 2)

7.5
0.5
22.5
2.5

In [32]:
print(3 * (4 + 5))

27

In [33]:
# Mode

print(10 * 3)

30

In [34]:
# Store numbers in variables

my_num = 5
print(my_num)

5

In [37]:
# Convert number to string

my_num = 5
print(str(my_num) + " is my favorite number.")

5 is my favorite number.

In [39]:
# Absolute value

my_num = -5
print(abs(my_num))

5

In [41]:
# Exponential form

my_num = -5
print(pow(3, 2))

9

In [42]:
# Get the smallest number

print(min(4, 6))

4

In [43]:
# Get the largest number

print(max(4, 6))

6

In [44]:
# Round off numbers

print(round(6.3))

6

In [46]:
# Gives access to more math functions

from math import * 

my_num = -5
print(floor(3.7))

3

In [47]:
print(ceil(3.7))

4

In [49]:
#Get the square root

print(sqrt(36))

6.0

## Getting input from users

In [1]:
name = input("Enter your Name: ")
age = input("Enter your age: ")

print("Hello " + name + "! You are " + age + " years old.")

Enter your Name: John
Enter your age: 25
Hello John! You are 25 years old.

## Build a Basic Calculator

In [3]:
# Addition

num1 = input("Enter a number: ")
num2 = input("Enter a number: ")
result = float(num1) + float(num2)

print(result)

Enter a number: 5
Enter a number: 10
15

In [4]:
# Substraction

num1 = input("Enter a number: ")
num2 = input("Enter a number: ")
result = float(num1) - float(num2

print(result)

Enter a number: 20
Enter a number: 5
15

In [5]:
# Multiplication

num1 = input("Enter a number: ")
num2 = input("Enter a number: ")
result = float(num1) * float(num2)

print(result)

Enter a number: 5
Enter a number: 5
25

In [6]:
# Division

num1 = input("Enter a number: ")
num2 = input("Enter a number: ")
result = float(num1) / float(num2)

print(result)

Enter a number: 10
Enter a number: 2
5.0

## Mad Libs Game

In [7]:
print("Roses are red")
print("Violets are blue")
print("I love you")

Roses are red
Violets are blue
I love you

In [2]:
color = input("Enter a color: ")
plural_noun = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

Enter a color: red
Enter a plural noun: violets
Enter a celebrity: Selena Gomez
Roses are red
violets are blue
I love Selena Gomez

## Lists

In [12]:
friends = ["Kevin", "Karen", "Jim"]
print(friends)

['Kevin', 'Karen', 'Jim']

In [14]:
# Return the 1st element

friends = ["Kevin", "Karen", "Jim"]
print(friends[-0])

Kevin

In [24]:
# Return elements based on index range

friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
print(friends[0:2])

['Kevin', 'Karen']

In [15]:
# Modify values inside of arrays

friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends[1] = "Mike"

print(friends[0:2])
print(friends)

['Kevin', 'Mike']
['Kevin', 'Mike', 'Jim', 'Oscar', 'Toby']

## List Functions

In [27]:
# Extend element in a list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.extend(lucky_numbers)

print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

In [28]:
# Append element in a list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.append("Creed")

print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']

In [29]:
# Insert element in a list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.insert(1, "Kelly")

print(friends)

['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']

In [30]:
# Remove element

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.remove("Jim")

print(friends)

['Kevin', 'Karen', 'Oscar', 'Toby']

In [31]:
# Remove all elements

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.clear()

print(friends)

[]

In [18]:
# Remove the last element

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()

print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [34]:
# Get the index location

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.index("Oscar"))

3

In [35]:
# Count the value inside the list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.count("Jim"))

1

In [36]:
# Sort in ascending order

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.sort()
print(friends)

['Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [37]:
# Reverse the order of the list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
lucky_numbers.reverse()
print(lucky_numbers)

[42, 23, 16, 15, 8, 4]

In [38]:
# Copy a list

lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends2 = friends.copy()
print(friends2)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

## Tuples

In [20]:
# Return the value based on index location
# Tuples are immutable

coordinates = (4, 5)
print(coordinates[0])

4

In [41]:
# Tuple inside a list

coordinates = [(4, 5), (6,7), (80, 34)]
print(coordinates[1])

(1, 2)

## Functions

In [44]:
# Defining and calling a function

def say_hi():
    print("Hello User")

    
print("Top")
say_hi()
print("Bottom")

Top
Hello User
Bottom

In [51]:
# Function with Parameters

def say_hi(name, age):
    print("Hello " + name + " you are " + str(age))

say_hi("Mike", 35)
say_hi("Steve", 70)

Hello Mike you are 35
Hello Steve you are 70

### Return statements in a function

In [54]:
def cube(num):
    return num*num*num

print(cube(3))

27

In [55]:
def cube(num):
    return num*num*num

result = cube(4)
print(result)

64

In [1]:
def square(number):
    return number * number

print(square(3))

9

## If Statements

In [6]:
sex = "F"
if sex == "M" or "m":
    print('Male')
else:
    print('Female')

Male

In [56]:
is_male = False

if is_male:
    print("You are a male")
else:
    print("You are not a male")

You are not a male

In [58]:
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You neither male nor tall")

You neither male nor tall

In [60]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male")
else:
    print("You either not male or not tall or both")

You are a tall male

In [65]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You either not male and not tall")

You are not a male but are tall

## If Statements and Comparisons

In [66]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

print(max_num(3, 4, 5))

5

In [70]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num3 = input("Enter third number: ")

def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

print(max_num(num1, num2, num3))

Enter first number: 10
Enter second number: 15
Enter third number: 322
322

## Build a Better Calculator

In [74]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
elif op =="-":
    print(num1 - num2)
elif op =="/":
    print(num1 / num2)
elif op =="*":
    print(num1 * num2)
else:
    print("Invalid Operator")

Enter first number: 10
Enter operator: *
Enter second number: 10
100.0

## Dictionaries

In [25]:
# Return the value of a key

month_conversions = {
    "Jan": "January",
    "Feb": "March",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(month_conversions)
print(month_conversions["Nov"])

{'Jan': 'January', 'Feb': 'March', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}
November

In [26]:
print(month_conversions.get("Dec"))

December

In [28]:
# Passen the value of a key

print(month_conversions.get("Dec", "Not a valid key"))

December

## While Loop

In [32]:
i = 5

while i <= 10:
    print(i)
    i += 1
    
print("Done with loop")

5
6
7
8
9
10
Done with loop

## While Loop: Build a Guessing Game

In [33]:
# Simple Guessing Game

secret_word = "giraffe"
guess = ""

while guess != secret_word:
    guess = input("Enter guess: ")

print("You win!")

Enter guess: lion
Enter guess: giraffe
You win!

In [92]:
# Guessing Game with Guess limit

secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter a word:")
        guess_count += 1
    else:
        out_of_guesses = True

if out_of_guesses:
    print("Out of Guesses, You Lose!")
else:
    print("You Win!")

Enter a word:asdw
Enter a word:sdwasdw
Enter a word:asdwa
Out of Guesses, You Lose!

## For Loop

In [1]:
# Return each letter of a string

for letter in "Giraffe Academy":
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [34]:
# Return each letter from a variable

letters = "Giraffe Academy"

for letter in letters:
    print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [97]:
# Return each value of the list
friends = ["Jim", "Karen", "Kevin"]

for loop in friends:
    print(loop)

Jim
Karen
Kevin

In [99]:
# Iterate each number based on range

for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [37]:
friends = ["Jim", "Karen", "Kevin"]

for index in range(len(friends)):
    print(friends[index])

Jim
Karen
Kevin

In [3]:
for index in range(3, 10):
    print(index)

3
4
5
6
7
8
9

In [5]:
# Iterate each number horizontally based on range

for index in range(10):
    print(index, end=' ')

0 1 2 3 4 5 6 7 8 9

In [38]:
for index in range(5):
    if index == 0:
        print("First Iteration")
    else:
        print("Not first")

First Iteration
Not first
Not first
Not first
Not first

## For Loop: Exponent Function

In [108]:
print(2**3)

8

In [110]:
def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result

print(raise_to_power(3, 4))

81

## 2D Lists & Nested Loops

In [3]:
# Return values from a 2D list

number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

print(number_grid[0][0])

1

In [5]:
# Return each row in the list

for row in number_grid:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [118]:
# Nested For Loop

for col in number_grid:
    for row in col:
        print(row)

1
2
3
4
5
6
7
8
9
0

## Build a Translator

In [120]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            translation = translation + "g"
        else:
            translation = translation + letter
    return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: dog
dgg

In [125]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: dog
dgg

## Comments

In [126]:
# This program is cool

print("Comments are fun")

Comments are fun

## Try and Except

In [6]:
number = int(input("Enter a number: "))
print(number)

Enter a number: 23
23

In [1]:
try:
    number = int(input("Enter a number: "))
    print(number)
except:
    print("Invalid Input")

Enter a number: adwasdw
Invalid Input

In [7]:
try:
    answer = 10/0
    number = int(input("Enter a number: "))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print("Invalid input")

division by zero

In [3]:
try:
    age = int(input('Age: '))
    print(age)
except ValueError:
    print('Invalid value')

Age: 3
3

## Reading External Files

In [5]:
employee_file = open("employees.txt", "r")
print(employee_file.read())
employee_file.close()

Norman = Data Scientist

In [6]:
employee_file = open("employees.txt", "r")
print(employee_file.readline())
employee_file.close()

In [7]:
employee_file = open("employees.txt", "r")
print(employee_file.readable())
employee_file.close()

True

In [8]:
# Read the file throuah an array

employee_file = open("employees.txt", "r")
print(employee_file.readlines())
employee_file.close()

['\n', 'Norman = Data Scientist']

In [9]:
# Read the file throuah using a for loop

employee_file = open("employees.txt", "r")
for employee in employee_file.readlines():
    print(employee)
employee_file.close()

Norman = Data Scientist

## Writing to External Files

In [2]:
employee_file = open("employees.txt", "r")
print(employee_file.read())
employee_file.close()

Jam = IT Support

In [3]:
# Appending a line

employee_file = open("employees.txt", "a")
print(employee_file.write("\nMike = IT Support"))
employee_file.close()

employee_file = open("employees.txt", "r")
print(employee_file.read())
employee_file.close()

18
Jam = IT Support
Mike = IT Support

In [4]:
# Writing a line
employee_file = open("employees.txt", "w")
print(employee_file.write("\nNorman = Data Scientist"))
employee_file.close()

employee_file = open("employees.txt", "r")
print(employee_file.read())
employee_file.close()

24

Norman = Data Scientist

## Modules & PIP

In [ ]:
# Execute using Pycharm Community

import useful_tools

print(useful_tools.roll_dice(10))

In [ ]:
# List of Python Modules

https://docs.python.org/3/py-modindex.html

## Classes & Objects

In [ ]:
# Execute using Pycharm Community

from Student import Student

student1 = Student("Jim", "Business", 3.1, False)
student2 = Student("Pam", "Art", 2.5, True)

print(student2.name)
print(student2.gpa)

In [4]:
class Point:
    def move(self):
        print("move")

    def draw(self):
        print("draw")

point1 = Point()
point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()

point2 = Point()
point2.x = 1
print(point2.x)

10
draw
1

In [5]:
class Person:
    def __init__(self, name):
        self.name = name

    def talk(self):
        print("talk")

john = Person("John Smith")
print(john.name)
john.talk()

John Smith
talk

## Building a Multiply Choice Quiz

In [3]:
#Execute in Pycharm
from question import Question

question_prompts = [
    "What color are Apples?\n(a) Red/Green\n(b) Purple\n(c) Orange\n\n",
    "What color are Bananas?\n(a) Teal\n(b) Magenta\n(c) Yellow\n\n",
    "What color are Strawberries?\n(a) Yellow\n(b) Red\n(c) Blue\n\n"
]

questions = [
    question(question_prompts[0], "a"),
    question(question_prompts[1], "c"),
    question(question_prompts[2], "b"),
]

def run_test(questions):
    score = 0
    for question in questions:
        answer = input(question.prompt)
        if answer == question.answer:
            score += 1
    print("You got " + str(score) + "/" + str(len(questions)) + "Correct")

run_test(questions)

Choose the letter of your answer.
What color are apples?
(a) Red/Green
(b) Purple
(c) Orange

Your Answer: b
Choose the letter of your answer.
What color are bananas?
(a) Teal
(b) Magenta
(c) Yellow

Your Answer: c
Choose the letter of your answer.
What color are strawberries?
(a) Yellow
(b) Red
(c) Blue

Your Answer: a
You got 2/3 correct.

## Object Functions

In [ ]:
#Execute in Pycharm
from student2 import Student

student1 = Student("Oscar", "Accounting", 3.1)
student2 = Student("Phyllis", "Art", 3.8)

print(student1.on_honor_roll())

## Emoji Reader/Converter

In [2]:
message = input(">")
words = message.split(' ')
emojis = {
    ":)": "😀",
    ":(": "😔"
}
output = ""
for word in words:
    output += emojis.get(word, word) + " "
print(output)

>:)
😀

## Inheritance

In [ ]:
#Execute in Pycharm
from chef import Chef
from chinese_chef import ChineseChef

myChef = Chef()
myChef.make_special_dish()

myChineseChef = ChineseChef()
myChineseChef.make_special_dish()
myChineseChef.make_fried_rice()